<nav class="navbar navbar-expand-lg navbar-light bg-light ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active " href="#">HOME <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">PAGES</a>
            <a class="nav-item nav-link active" href="#">PORTFOLIO</a>
            <a class="nav-item nav-link active" href="#">BLOG</a>
            <a class="nav-item nav-link active" href="#">FEATURES</a>
            <a class="nav-item nav-link active" href="#">COMPONENTS</a>

            <a (click)="Logout()" class="nav-item nav-link active font-weight-bold" href="#">LOGOUT</a>

        </div>
    </div>
</nav>