<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form">
                            <h3 class="text-center  ">Register Page</h3>

                            <div class="form-group">
                                <div *ngIf="alertMessage != '' " class="alert alert-danger" role="alert">
                                    {{alertMessage}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label><br>
                                <input [(ngModel)]="username" name="username" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label><br>
                                <input [(ngModel)]="password" name="password" type="text" class="form-control">
                            </div>

                            <br>

                            <div class="form-group text-center">
                                <button class="btn btn-success btn-md"   (click)="register()"> Register </button>

                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-md" routerLink="/login" >Login </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>